{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  <div class="container">
      
                    <div class="row">
                       
                         <div class="col-8 ">
                            <div class="row">
                            <h4 class="font-weight-light align-middle">
                                Bienvenue {{ firstname}} {{lastname}}
                                  <a href="{{ path('user_edit_profile') }}"
                                class="btn btn-lg  font-weight-light">
                                Edit Profile
                                  </a>
                            </h4>
                            
                            </div>
                            <div class="row">

            
                           <form method="post" action="{{ path('project_add') }}">
                                <input type="text" 
                                       value="" 
                                       name="name">
                             <button class="btn btn-lg btn-primary" type="submit">
                                Ajouter un Projet
                            </button>
                            </form>
                            
                            </div>

                        </div>
                         <div class="col-2">
                            {% if picture is not null %}
                            <img src="{{ asset('uploads/profile-picture/' ~ picture) }}"
                                class="img img-thumbnail rounded float-right"
                            >
                            {% endif %}
                        </div>
                    </div>  
                   
                   
                <h5> Mes projets : {{nbProjects}}</h5>
                <div class="row">
                   
                     {% for project in projects %}
                        <div class="col-12 col-md-6 col-lg-3 mb-4">
                            <div class="card border shadow lift">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h4 class="font-weight-light">
                                            {{ project.name }}
                                        </h4>
                                    </div>
                                    crée le {{ project.createdAt|date('Y-m-d') }}
                                    <a href="{{ path('project_show', { slug: project.slug }) }}"
                                    class="btn btn-sm stretched-link">
                                     
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}  
                </div>            


    </div>
{% endblock %}
